<h1> <center> Login Page </center> </h1>
<%= form_for :session ,url: login_path do |f| %>
<%= f.label :user_name %>
<%= f.text_field :user_name %> </br> </br> </br> 
<%= f.submit "Login "%> </br> </br>
New user? <%= link_to "Sign up now!", signup_path %>
<% end %>
