<h1> <center> SignUp Form </center> </h1>


<%= form_for @user do |f| %>
<%= f.label :user_name %>
<%= f.text_field :user_name %> </br> </br> </br> 
<%= f.submit "SignUp"%></br></br>
Already have account? <%= link_to "Login now!", login_path %>
<%end %> 
