<h1>  <center> Show Page  </center> 
<%= @user.user_name%>

</h2> List of all events created by this user is: </h2>

<ul >
  <% @user.events.each do |event| %>
    <li>
      <%= event.event_description  %> <%= event.event_date  %> 
    </li>


  <% end %>
</ul>






</br>
 <%=link_to "Add an Event" , new_event_path %> </br></br>
 <%=link_to "Show All Events" , events_path %> </br></br>




<%=link_to "Logout", "/login" %>
