<h1> Create an event </h1>



<%= form_for @event do |f| %>
<%= f.label :event_date %>
<%= f.date_field :event_date %> </br> </br> 
<%= f.label :event_description %>
<%= f.text_area :event_description %> </br> </br> 
<%= f.submit "Create"%></br></br>

<%end %> 
