<h1> Create an event </h1>



<%= form_for @event do |f| %>
<%= f.label :event_name %>
<%= f.text_field :event_name %> </br> </br>  
<%= f.label :event_description %>
<%= f.text_area :event_description %> </br> </br> 
<%= f.submit "Create"%></br></br>
<%end %> 
